<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Makers B'n'B</title>
</head>

<body>
    <div class='container'>
      
        <h1 class="text-center">Makers B'n'B</h1>
        <br>
        <br>
        <h2 class="text-center">Find the space of your dreams.</h2>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a href="spaces/new" class="btn btn-primary" role="button" data-bs-toggle="button">Add a space</a>
        </div>      
        <br>

        <form class="row g-3 align-items-center">
            <div class="col-5">
                <label for="inlineFormInputAvailableFrom">Available From...</label>
                <div class="input-group">
                <input value="<%=@available_from%>" type="date" class="form-control" id="inlineFormInputAvailableFrom" name="available_from" required>
                </div>
            </div>

            <div class="col-5">
                <label for="inlineFormInputAvailableTo">Available To...</label>
                <div class="input-group">
                <input value="<%=@available_to%>" type="date" class="form-control" id="inlineFormInputAvailableTo" name="available_to" required>
                </div>
            </div>

            <div class="col-2">
                <button type="submit" id="button" class="btn btn-primary">List Spaces</button>
            </div>
        </form>

        <% if @date_order_error == true %>
            <p style='color: red'>Your 'Available To' date must be after your 'Available From' date</p>
        <% end %>


        <div class='row'>

            <% @spaces.each do |space| %>
                <div class='card m-2 pt-3' style='width: 18rem;'>
                    <img src="https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg" class='card-image-top' alt='housepic'>
                    <div class='card-body'>
                        <h5 class='card-title'><%= space.title %></h5>
                        <p class='card-text'><%= space.description %></p>
                        <p class='card-text'><strong>£<%= '%.2f' % space.price %> per night</strong> </p>
                    
                        <% if @show_button == true %>
                        <form action="/book" method='post'>
                            <input type="hidden" name="available_from" value="<%= @available_from %>">
                            <input type="hidden" name="available_to" value="<%= @available_to %>">
                           <input type="hidden" name="id" value="<%= space.id %>"> 
                          <p><input class="btn btn-primary" type="submit" value="Book"></p>
                        </form>
                        <% end %>

                    </div>
                </div>
            <% end %>
        </div>
    </div>

</body>
</html>