<%= erb :header %>
  <h1 class="text-center">Makers B'n'B</h1>
  <br>
  <br>
  <h2 class="text-center">Finalise your booking</h2>
  <br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <p>Space title: <%=@title%></p>
    <p>Space price: £<%= '%.2f' % @price%></p>
    <p>Space description: <% if @description.empty?%>
      No description available.
      <% else %>
      <%=@description%><% end %></p>
  </div>       
  <br>

  <form class="row g-3 align-items-center" action='/book' method='post'>
    <div class="col-5 input-group input-daterange">
      <input type="text" class="form-control" name="available_from" value="<%= @available_from %>" required>
      <div class="input-group-addon"> &nbsp; to &nbsp; </div>
      <input type="text" class="form-control" name="available_to" value="<%= @available_to %>" required>
      <input type="hidden" name="id" value="<%= @id %>"> 
    </div>
    <input class="btn btn-success" type="submit" value="Book now">
  </form>
</div>



<script>
    var booked_dates = '<%= @booked_dates %>';
</script>

<script>

$('.input-daterange input').each(function() {
    $(this).datepicker( {
      startDate: '-0d',
      format: 'dd/mm/yyyy',
      datesDisabled: booked_dates,
      weekStart: 1,
      }
    );
});
</script>


</body>
</html>